@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.message-focus {
  border: 2px solid rgb(29 78 216);
  outline: none;
}
.base {
  color: white;
  outline: none;
  word-wrap: break-word;
}

:root {
  --black-gradient: linear-gradient(#2169ed, #10b8c7);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.iconTooltip {
  @apply peer-hover:opacity-100 opacity-0 transition-opacity duration-100 ease-in absolute top-1/2 left-16 text-white bg-[#0D0D0D] p-2 rounded-xl;
}

.style {
  flex: 0 0 auto;
}

* {
  scroll-behavior: smooth;
}

.fixing {
  width: 22%;

  @media (max-width: 1700px) {
    width: 30%;
  }
}

.bg-gradient-123 {
  background: hsla(359, 100%, 63%, 1);

  background: linear-gradient(
    90deg,
    hsla(359, 100%, 63%, 1) 0%,
    hsla(23, 89%, 54%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(359, 100%, 63%, 1) 0%,
    hsla(23, 89%, 54%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(359, 100%, 63%, 1) 0%,
    hsla(23, 89%, 54%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF4043", endColorstr="#F27121", GradientType=1 );
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-item {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(#2169ed, #10b8c7);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: #202020;
  border-radius: 10px;
  border: 2px solid transparent; /* add a 2px gap around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.bg-red {
  background: linear-gradient(
    157.81deg,
    #d5f1f2 -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  transition: 250ms ease-in-out;
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

/* Modal styles */

.modal-background {
  background: rgba(0, 0, 0, 0.8);
}

.radius-fix {
  border-top-right-radius: 30px;
}

.right-bottom-radius {
  border-bottom-right-radius: 30px;
}

.modal {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.x-icon:hover {
  transition: 100ms ease-in-out;
  background: linear-gradient(#ed213a, #e94057, #f27121);
}

.modal-content {
  margin-bottom: 1rem;
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
}

.feature-card-image {
  background: var(--black-gradient);
}

input[type="file"]::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  background: linear-gradient(#ed213a, #93291e);
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  font-size: 13px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: linear-gradient(#ed213a, #93291e);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
